@font-face {
	font-family: 'FZLTCXHJW';
	src:url('FZLTCXHJW.eot');
	src:url('FZLTCXHJW.eot?#iefix') format('embedded-opentype'),
		url('FZLTCXHJW.woff') format('woff'),
		url('FZLTCXHJW.ttf') format('truetype'),
		url('FZLTCXHJW.svg#ElegantIcons') format('svg');
}